:root{
  --primario: #e73fd4;
}
img{
  width: 100%;
}

*{
  box-sizing: border-box;
}
.bg-primario{
  background-color: var(--primario);
}
.fondo{
  width: 100vw;
  background-color: var(--primario);
  padding:  15px 0;
}
.categorias {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  display: block;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;

}
.caja-categoria{
  display: inline-block;
  overflow: hidden;
  float: none;
}

.icono{
  width: 40px;
  height: 40px;
  margin: 2px;
  color: var(--primario);
  background-color: #ffffff;
  font-size:1.6em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid white;
}
.icono-categoria{
  padding: 10px;
  border-radius: 50%;
  border: 1px solid #2c403d;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: var(--primario );
  color: #fff;
  font-size: 1.5em;
  margin-left: 10px;
}
